@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');
@import url("/styles/header.css");
@import url("/styles/carrossel.css");
@import url("/styles/banner.css");
@import url("/styles/card.css");
@import url("/styles/cards_selecionaveis.css");
@import url("/styles/contato.css");
@import url("/styles/rodape.css");

:root{
    --cor-fundo: #9DC08B;
    --cor-menu: #609966;
    --cor-fundo-menu: #FFFFFF;
    --cor-links: #C1D0B5;
    --cor-banner: #FFFFFF;
    --cor-titulo: #40513B;

    --fonte-comum: 'Rubik', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

body{
    background: var(--cor-fundo);
    font-family: var(--fonte-comum);
    font-size: 16px;
}
